{% extends "ecommerce/index.html" %}
{% block title%}Baby Shop :){%endblock%}
{% block content%}

<div class="bgLittleWhite vw-100 p-4 d-flex flex-column">
    <p class="text-center fs-1">{{size}}</p>
    <div class="d-flex flex-row container justify-content-around pb-4">
        <div class="d-flex flex-column container justify-content-around">
            
            <img class="imgPortfolio" src="{{ productos.0.img.url }}" alt="">
            <p class="fs-3 text-capitalize text-center">{{productos.0.name}}</p>
            <p class="fs-3 text-capitalize text-center">S/{{productos.0.price}}</p>
            <p class="fs-5 text-capitalize text-center">{{productos.0.description}}</p>
            <form action="" method="post" class="d-flex justify-content-center">
                <button class="btn btn-info w-100" type="submit"><i class="fa-solid fa-cart-plus"></i> Agregar al carrito</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}