<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Receta Medica</title>
    </head>
    <body>

        <style>
            @page {
                size: A5;
                
            }
        </style>
        <div class='wrapper'>
            <div class='header'>
                <img style="width: 50px; border: 2px solid red;" src="static/images/medlogo.png" alt="">
                <p style="text-align: center; margin: 0px; font-size: 25px;">Receta Medica </p>
                
                    <p style="text-align: center; margin: 0px; font-size: 14px;">Dr/a: {{user.first_name}}  {{user.last_name}}</p>
                    <p style="text-align: center; margin: 0px; font-size: 14px;">Especialidad: </p>
                    <p style="text-align: center; margin: 0px; font-size: 14px;">Direccion: </p><br>
                
            </div>
        </div>
        <div class='details'>
            <span style="text-decoration: underline; font-size: 14px;">Paciente</span>:<span style="font-size: 14px;"> {{patient.first_name}}  {{patient.last_name}}</span><br><br>
            <span style="text-decoration: underline; font-size: 14px;">Rut</span>:<span style="font-size: 14px;"> {{ patient.reg_no }}</span><br><br><br>
            <hr><br>
            <span style="text-decoration: underline; font-size: 15px; padding: 20px;">Medicamento/s</span>:<span style="font-size: 20px; font-weight: 600;">{{prescrip.prescribe|linebreaks}}</span>
            <span style="text-decoration: underline; display: inline-block; font-size: 15px;">Acciones</span>:<span style="font-size: 20px; font-weight: 600;">{{prescrip.description|linebreaks}}</span><br/>
        </div>
            <p style="text-align:center;">_______________________________</p>
            <p style="text-align:center; position: fixed; margin-bottom: 0px;">Firma</p>

          
    </body>
</html>